{% extends "layout.njk" %}

    {% block head %}
        <title>Sobre - Hebert Marques Francato</title>
    {% endblock %}

    {% block content %}

    <div id="wrapper">
        <img src="https://avatars.githubusercontent.com/u/64725143?v=4" alt="Hebert Marques Francato">
        <h1>Hebert Marques Francato</h1>
        <h2>Estudante de Programação</h2>
        <p>Estudando com o objetivo de se tornar um programador full stack, conteúdo da <a href="https://rocketseat.com.br/" target="_blank">Rocketseat.</a></p>
    </div>

    <div id="links-footer" class="links">
        <a href="https://github.com/hebertmfrancato" target="_blank">Github</a>
        <a href="https://www.linkedin.com/in/hebertmarquesfrancato/" target="_blank">Linkedin</a>
    </div>

    {% endblock %}