<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hebert Marques Francato</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>

<body> <!-- Camada 1 -->
    <header> <!-- Camada 2 -->
        <div class="links"> <!-- Camada 3, porém superior ao <header> -->
            <a href="/">Sobre</a>
            <a href="/portfolio">Aulas</a>
        </div>
    </header>

    {% block content %}{% endblock %}

    </body>
</html>