{% extends "layout.html" %}

{% block content %}

    <div id="wrapper">
        <h1>Aulas</h1>
    </div>

    <section class="cards">
        <div class="card" id="HvBilIEuZlo">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/HvBilIEuZlo/maxresdefault.jpg" alt="">
            </div>
            <div class="card__content">
                <p>A trajetória do desenvolvimento front-end</p>
            </div>
            <div class="card__info">
                <p>55 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>

        <div class="card" id="HvBilIEuZlo">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/HvBilIEuZlo/maxresdefault.jpg" alt="">
            </div> 
            <div class="card__content">
                <p>A trajetória do desenvolvimento front-end</p>
            </div>
            <div class="card__info">
                <p>55 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>

        <div class="card" id="HvBilIEuZlo">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/HvBilIEuZlo/maxresdefault.jpg" alt="">
            </div>
            <div class="card__content">
                <p>A trajetória do desenvolvimento front-end</p>
            </div>
            <div class="card__info">
                <p>55 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>

        <div class="card" id="HvBilIEuZlo">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/HvBilIEuZlo/maxresdefault.jpg" alt="">
            </div>
            <div class="card__content">
                <p>A trajetória do desenvolvimento front-end</p>
            </div>
            <div class="card__info">
                <p>55 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>
    </section>

    <div class="modal-overlay">
         <div class="modal">
             <a class="close-modal">
                <i class="material-icons">close</i>
             </a>

             <div class="modal-content">
                 <!-- Vídeo aqui -->
                 <iframe src="" frameborder="0"></iframe>
             </div>
         </div>
    </div>

    <script src="scripts.js"></script>

    {% endblock %}